img{
    margin-left: 10%;
    margin-bottom:5px;
    padding-right:5%;
}

.skillsBlock{
    font-family: "Times New Roman";
    font-size: 15pt;
    padding-left: 2%;
    padding-right: 2%;
    color: midnightblue;
}

h1{
    font-family: "Book Antiqua";
    text-align: center;
}

h3{
    font-family: "Book Antiqua";
    text-align: center;
}

li{
    margin-top: 2px;
    z-index: 1;
}

a{
    color: #008000;
    text-decoration: none;
}
a:visited {
    color: #800080;
}
a:hover {
    color: #800000;
    text-decoration: underline;
}

main{
    margin-bottom: 10%;
}

.floatingImage{
    padding-top: 5%;
    padding-bottom:5%;
    font-family: "Times New Roman";
    font-size: 15pt;
    color: midnightblue;
}

.header{
   /* position: absolute;*/
    width: 100%;
    background-color: LightBlue;
}

.block{
    -webkit-flex: 1;
    flex: 1;
    min-width: 250px;
    max-width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom: 2%;
}

.skills{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid;
    border-color: grey;
    margin-bottom: 2%;
    margin-right: 5%;
}

@media (min-width:900px) {
    nav {
       position: fixed;
       left: 0px;
       width: 10%;
    }
    .content {
    margin-left: 10%;
    }
}

@media (max-width:899px) {
  nav li {
    display: inline;
  }
}

.badge{
    position: relative;
    top: -7vh;
    left: 8vh;
    width: 25%;
    top: 7vh;
    left: 8vh;
    z-index: -1;
}
